
h1 {
  font-size: 2em;
  font-family: sans-serif;
  font-weight: normal;
  margin: .67em 0;
  display: block;

}

main{
  text-align: center;
  align-items: center;
}

.content-body {
  position:relative;
  top:20%;
  height:65%;
  width: 50%;
  margin-left:auto;
  margin-right:auto;
}


textarea,
input[type="text"],
input[type="password"],
input[type="email"]
{
  height:30px;
  width:100%;;
  display: inline-block;
  vertical-align: middle;
  height: 34px;
  padding: 0 10px;
  margin-top: 3px;
  margin-bottom: 10px;
  font-size: 15px;
  line-height: 20px;
  border: 1px solid black;
  background-color: white;
}

.btn {
  margin: 3px 0;
  padding: 6px 20px;
  font-size: 15px;
  line-height: 20px;
  height: 34px;
  color: white;
  background-color: #00e6e6;
  border-radius: 3px;
  margin-bottom: 20%;
  text-align: center;

}
.admin_button{
  text-align: left;
  margin-bottom: 35%;
}
.loginandreg{
    margin-top: 20%;
}
.admin_buttons{
  margin-bottom: 40%;
}
