header .nav-bar{
  margin-left: 5%;
  margin-right: 5%;
  font-family: sans-serif;
  font-size: 110%;
}

header ul{
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #00cc7a;
}
header li{
  float: right;
}

header li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

footer li a:hover{
  background-color: #00e6e6;
}
header .active{
  background-color: #00e6e6;
}
footer{
  background-color: #00cc7a;
  position: relative;

}
footer table{
  width: 100%;
  background-color: #00cc7a;
  left: 0;
  text-align: center;
}
footer td{
  text-align: center;
  display: inline-block;
}
footer tr{
  text-align: center;
  font-family: sans-serif;
  font-size: 100%;
}
.copyright{
  font-size: 70%;
}
footer h5{
  color: white;
  font-family: sans-serif;
}
footer a:hover{
  color:  white;
}
footer a{
  color: #00e6e6;
  font-size: 80%;
}
